<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="toggled">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/">Todo List App</a>
          </li>

          <% TodoList.all.each do |todo_list| %>
            <li>
              <%= link_to todo_list.name, todo_list_todo_items_path(todo_list) %>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= yield %>
          <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
        </div>
      </div>
    </div>

    <script>
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  
  </body>
</html>
