<!DOCTYPE html>
<html>
  <head>
    <title>TodoListApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lato' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Indie+Flower' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper" class="toggled">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/">To-do List</a>
          </li>
          <%= render 'todo_lists/list' %>
          <%= render 'todo_lists/form' %>
        </ul>
        <%= render 'layouts/footer' %>
      </div>
      <div id="toggle_menu" class="active">
        <div id='toggle_menu_top'></div>
        <div id='toggle_menu_middle'></div>
        <div id='toggle_menu_bottom'></div>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
